label {
  color: #fff;
}

// === SLIDER ===
.featuredPostsHomeSlider {
  width: 100%;
  height: 500px;

  .swiper-slide {
    -webkit-background-size: cover;
    background-size: cover;
  }

  h1 {
    &.heading1 {
      margin-bottom: 30px;
    }
  }
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background-color: darken($green, 10%);
  color: #fff !important;
}

// === FOOTER TO BOTTOM ===
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}