@mixin addBottomImage {
  background: rgba(0, 0, 0, 0) url(../images/feature-bottom.png) no-repeat scroll center top;
  bottom: -36px;
  content: "";
  display: block;
  height: 75px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  /* -webkit-transform: translateX(-50%); */
  -moz-transform: translateX(-50%);
  width: 150px;
}