@media (max-width: 387px) {
  .site-logo {
    padding-top: 40px;
    width: 62%;
  }
}

// NavBar show dropdown on hover
li.dropdown:hover {
  > .dropdown-menu {
    display: block;
    li {
      > a {
        color: #fff;

        &:hover {
          color: #0b0b0b;
        }
      }
    }
    background: $green;
  }
}