.about-us-container {
  p {
    font-size: 18px;
    line-height: 33px;
    //max-width: 850px;
    font-weight: 400;
    text-align: justify;
    color: #3a4d60;
  }
}

.careers-wrap {
  h3,
  p {
    margin: 0;
  }

  h3 {
    color: #3a4d60;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
  }

  p {
    color: #b2b2b2;
    font-size: 15px
  }
}

.about-us {
  &.contact-form {
    p {
      text-align: left;

      &:first-child{
        margin-bottom: 0;
      }
    }
  }
}

textarea {
  resize: none;
}

#map {
  height: 450px;
  width: 100%;
}