body {
  font-family: 'Open Sans', 'sans-serif';
}

.full-width {
  width: 100%;
  position: relative;

  &.green-bg {
    background: $green;
  }

  &.static {
    position: static;
  }
}

.navbar-default {
  background: transparent;
  border: 0;
}

.site-logo {
  padding: 28px 0;
}

.general-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.navbar-brand {
  padding: 0;

  > img {
    height: 100%;
    padding: 34px;
    width: auto;
  }
}

.heading {
  margin: 0;
  font-weight: 700;
  &.h2 {
    font-size: 35px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 70px;
    text-align: center;
  }

  &.h3 {
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
  }
}

.paragraph {
  font-size: 15px;
  line-height: 26px;
  margin: 0;
  color: #fff !important;
}

.eforce-btn {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  color: $green;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 20px auto 0;
  max-width: 340px;
  padding: 18px;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  border:1px solid #ffffff;

  &:hover {
    background: #3d3d3d none repeat scroll 0 0;
    color: #ffffff;
    text-decoration: none!important;
    border:1px solid #fff;
  }
}

.text-white {
  color: #fff !important;
}

.text-gray {
  color: #3d3d3d !important;
}

.text-gray-lighter {
  color: lighten(#3d3d3d, 20%) !important;
}

.text-green {
  color: $green !important;
}

.text-left {
  text-align: left !important;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  padding: 0.5em;
}

label {
  color: #ffffff !important;
}

.btn-green {
  @include button-variant(#fff ,$green, $green);
}

.tp-caption {
  a {
    @include button-variant(#fff ,$green, $green);
  }
}

a {
  color: $green;

  &:hover {
    color: darken($green, 15%);
    text-decoration: none;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    &.h2 {
      font-size: 35px;
    }
  }
}

.footer-newsletter-form {
  input {
    color: #696969 !important;
  }
}

@media screen and (max-width: 767px) {

  .full-width {

    &.green-bg {
      z-index: 1;
    }

  }
}