.padding-text {
    padding: 90px 0;
    position: relative;

  h4 {
    color: #3a4d60;
    font-size: 15px;
    line-height: 26px;
    margin: 0 0 5px;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.padding-updates {
  background: #3d3d3d none repeat scroll 0 0;
  color: #ffffff;
  padding: 80px 0;

}

.efbanner {
  color: #ffffff;
  font-size: 50px;
  font-weight: 400;
  line-height: 70px;
}

.section-heading {

  h2 {

    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    margin-bottom: 70px;
    text-align: center;
  }

}

.keepUpdate {
  margin: 0 auto;
  max-width: 725px;
  text-align: center;

}

.mc4wp-form-fields{
  input[type="email"]{
    border-bottom-left-radius:  100px;
    border-top-left-radius:  100px;
    font-size: 12px;
    height: 38px;
    max-width: 240px;
    padding: 0 15px;
    color: #cbcbcb;
    font-family: "Open Sans",sans-serif;
    outline: none;
    border: none;
  }

    input[type="submit"] {
      background: white none repeat scroll 0 0;
      color: #515356;
      font-size: 15px;
      margin: 0;
      position: absolute;
      height: 38px;
      border-bottom-right-radius: 100px;
      border-top-right-radius: 100px;
      border: none;
      text-align: left;
      outline: none;
    }
}

.mc4wp-alert, .mc4wp-success{

  p{
    text-align: center;
  }

}
.selectOptionWrap {
  background: #dcdcdc none repeat scroll 0 0;
  border-top: 1px solid #dcdcdc;
}

.featuredTabs {
  text-align: center;
  margin-bottom: 40px;

  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }

  & > li, a {

    color: #ffffff;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 32px 0;
    text-align: center;
    text-transform: uppercase;
    margin: -16px 8px 0px 3px;
    text-decoration: none;

  }

  & > li,
  a,
  img {
    display: inline-block;
    max-height: 23px;
    vertical-align: middle;
    
  }

  & > li,
  a,
  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.optioncontent {
  text-align: center;

  img {
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

  h2 {
    margin: 30px 0;
  }

  p {
    font-size: 20px;
    line-height: 33px;
    margin: 0 auto;
    max-width: 800px;
  }
}

.imagecontent {
  img {
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
}

.optionpracticality {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  padding: 75px 0;
}

.practicalitypart {
  margin-bottom: 52px;

  p {
    color: rgb(58, 77, 96);
    font-size: 15px;
    line-height: 26px;
  }

}
.practicalitytext {


  p {
    color: rgb(58, 77, 96);
    font-size: 15px;
    line-height: 26px;
  }
}

.small-text, h4 {
  color: rgb(58, 77, 96);
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
}

.specificationpart {
  margin-bottom: 45px;

  p {
    color: rgb(58, 77, 96);
    font-size: 15px;
    line-height: 26px;
  }

}



@media screen and (max-width: 767px) {
  .section-heading {
    h2 {
      font-size: 32px;
      line-height: 38px;
    }
  }

  .optioncontent {
    p {
      font-size: 16px;
      line-height: 30px;
    }
  }

  .optionpracticality {
    text-align: center;
  }
}



.visionWrap {
  padding: 150px 0;
  position: relative;

  h4 {
    color: #3a4d60;
    font-size: 15px;
    line-height: 26px;
    margin: 0 0 5px;
    text-transform: uppercase;
  }

  .vision-right {
    background-size: cover;
    background-position: center top;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 46%;
  }
}

@media screen and (max-width: 767px) {
  .visionWrap {
    padding: 0;

    .vision-right {
      height: 500px;
      margin-bottom: 40px;
      position: initial;
      width: 100%;
    }
  }
}
