.entryHeader{
  background-repeat: no-repeat scroll center top / cover;
  color: #ffffff;
  padding: 75px 0;
  text-align: center;

  h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 0;
  }

}

.mtmb-70 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.dateTime {
  p {
    font-size: 18px;
    color: #3a4d60;
    line-height: 30px;
    font-weight: bold;
  }

  a {
    border-bottom: 1px solid #333;
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }

  span {
    color: #3a4d60;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal!important;
  }
}

.titleContentEvents {
  p {
   font-weight: normal!important;
  }
}

.eventsContent {
  font-size: 18px;
  color: #3a4d60;
  line-height: 30px;
  margin-top: 3%;
}

.mt-5 {
  margin-top: 5%;
}