.eforce-green-container {
  background: $green;
  color: #fff;

  &::after {
    background: rgba(0, 0, 0, 0) url(../images/feature-bottom.png) no-repeat scroll center top;
    bottom: -36px;
    content: "";
    display: block;
    height: 75px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    width: 150px;
  }

  .feature-wrap {
    margin-bottom: 55px;
    max-width: 515px;
    padding-left: 100px;

    p {
      font-size: 15px;
      line-height: 26px;
      margin: 0;
      color: #fff !important;
    }
  }
}

.row {
  &.features {
    .col-sm-6:nth-of-type(2n+3) {
      clear: both;
    }
  }
}

.eforce-container-with-bg {
  background-size: cover;
  //background: no-repeat center top;

  p {
    font-size: 20px;
    line-height: 33px;
    margin: 0 auto 30px;
    max-width: 850px;
    font-weight: 400;
  }
}

// SLIDER
.swiper-container {
  width: 100%;
  height: 400px;
}
.swiper-slide, .swiper-slide-duplicate {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction:column;

  p {
    padding-left: 30px;
    padding-right: 30px;
  }

  h2 {
    margin-top: 0;
  }
}