.impressum-heading {
  margin: 0;
  font-weight: 700;

  &.h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    margin-bottom: 10px;

  }
}

.impressumText {

  p{
    font-size: 18px;
    line-height: 33px;
    font-weight: 400;
    text-align: justify;
    color: #3a4d60;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .impressum-heading {

    &.h2 {
      font-size: 25px;

    }
  }

}