.heading-download {
  h2 {
    color: rgb(58, 77, 96);
    font-weight: normal;
    margin: 35px 0 25px;
    text-align: left;
    font-size: 40px;
    line-height: 48px;
  }
}


.download-title {
  color: #fff!important;
  font-size: 15px;
  font-weight: bold;
  left: 25px;
  position: absolute;
  top: 40%;
  width: 80%;
  transition: all ease 0.5s;
}

.downloads-category-title {
  margin-bottom: 20px;

  &:not(:first-child) {
    margin-top: 40px;
  }
}

.downloads-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .media {
    overflow: hidden;
    zoom: 1;

    &:first-child {
      margin-top: 0;
    }

    .media-body {
      background-size: cover;
      background: url(http://eforce.ch/newsite/wp-content/themes/eforce/images/media_bg.jpg) no-repeat center center;
      color: #fff;
      display: block;
      font-size: 15px;
      line-height: 26px;
      min-height: 240px;
      padding: 100px 15px 20px;
      width: 100%;
      transition: all 0.5s ease 0s;
      -webkit-transition: all 0.5s ease 0s;

      .media-title {
        color: #fff!important;
        font-size: 11px;
        font-weight: bold;
        left: 50%;
        top: 40%;
        width: 80%;
        text-transform: uppercase;
        text-align: center;
      }

      .media-icon {
        > img {
          margin: 75px auto 30px;
        }
      }
    }
  }
}

.mt-75 {
  margin-top: 75px;
}

.mb-20 {
  margin-bottom: 20px;
}