.singleTopBanner {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  height: 640px;
}

.singleNewsTitle {
  bottom: 18%;
  color: #ffffff;
  left: 0;
  position: absolute;
  width: 100%;

  h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 0;
    max-width: 790px;
    text-align: left;
  }
}

.singleNewsMiddle {
  padding: 45px 0 160px;

  h4 {
    color: #3a4d60;
    font-size: 19px;
    margin: 22px 0;
    text-transform: uppercase;
    font-weight: normal!important;
  }

  p {
    color: #3a4d60;
    font-size: 18px;
    line-height: 30px;
  }
}

.newsAuthor {
  color: $green;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.newsDate {
  color: #b2b2b2;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 18px;
}