.latestNews {
  padding: 90px 0;

  h4 {
    color: $green;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

  h3, a {
    color: #3a4d60;
    font-size: 15px;
    line-height: 26px;
    margin: 25px 0 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }

  p {
    color: #3a4d60;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
  }
}

.dateNews {
  color: #b2b2b2;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 18px;
}

.newsWrap {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.eforce-green-news {
  background: $green;
  color: #fff;
}
.paddingNews {
  padding: 50px 0 70px;
}

.singleNewsWrap {
  border: 1px solid #dddddd;
  display: flex;
  margin-bottom: 15px;
  width: 100%;

  .col-md-3 {
    &.pt-2 {
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }
}

.secondLabel {

  h2 {
    color: $green;
    display: inline-block;
    font-size: 14px;
    margin: 0 0 5px;
    text-decoration: underline;
  }

  p {
    color: #3a4d60;
    font-size: 12px;
    margin: 0;
  }

}

.buttonNews {

  input[type="submit"] {
    background: $green none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 25px;
    display: inline-block;
    outline: none;
    border: none;
    align-items: center;
    position: relative;
    text-align: center;
    top: 20px;
    left: 20%;

    &:hover {
      background: #333;
      color: #fff;
      text-decoration: none;
      transition: all 0.5s ease 0s;
      -webkit-transition: all 0.5s ease 0s;
    }
  }
}

.br {
  border-right: 1px solid #dddddd;
}

.pt-2 {
  padding: 2%;
}

@media screen and (max-width: 992px){

  .buttonNews {

    input[type="submit"] {

      left: 0;
      top: -5px;
    }
  }

  .br {
    border-right: none;
  }

  .pt-2 {
    text-align: center;
  }
}

.fbold {
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 0;
  max-width: 790px;
  text-align: left;
  text-transform: uppercase;
}

.fnews {
  font-size: 35px !important;
  font-weight: 300;
  color: #fff;
  text-align: left;
}

.desnews {
  font-size: 15px !important;
  white-space: normal;
  color: #fff;
  text-align: left;
  margin: 0 0 30px!important;
}

.eforce-btn1 {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  color: $green;
  display: block;
  font-size: 18px;
  font-weight: bold;
  max-width: 340px;
  padding: 18px;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  border:1px solid #ffffff;

  &:hover {
    background: #3d3d3d none repeat scroll 0 0;
    color: #ffffff;
    text-decoration: none!important;
    border:1px solid #fff;
  }
}

.linkInfo {
  color: $green;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  left: 7%;
  top: 10px;
  position: relative;;
}

@media screen and (max-width: 768px){

  .eforce-btn1 {
    font-size: 15px;
    max-width: 260px;
  }

  .linkInfo {
    left: 4%;
  }
}

@media screen and (min-width: 1200px) {

  .linkInfo {
    left: 6%;
  }

}

@media screen and (min-width: 451px) and (max-width: 512px){

  .linkInfo {
    left: 8%;
  }

}

@media screen and (max-width: 450px) {

  .linkInfo {
    left: 10%;
  }

}

.news-page-header {
  //height: 640px;
  height: 75vh;


  .title-inner {
    color: #ffffff;
    width: auto;
    position: absolute;
    bottom: 30%;
    margin-left: 25px;
  }
}

.news-event-btn {
  font-size: 18px;
}