footer {
  background: $green;
  padding: 55px 0;
}

.copyright {
  color: #ffffff;
  font-size: 12px;
  margin: 0;
  text-align: left;
}

.subscribeWrap {
  max-width: 240px;
  margin: 0 0 0 auto;
  &> p {
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 5px;
    left: 12%;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .subscribeWrap {
    margin: 25px auto;
    max-width: 240px;
    text-align: left;
  }
}

.impressumLink {
  text-align: left;
  a {
    color: #fff;


    &:hover {
      color: #fff !important;
    }
  }

}

@media screen and (max-width: 768px) {
  .impressumLink {
    text-align: center;
  }
}