.navbar-default {
  .navbar-nav {
    li {
      a {
        color: #fff;
      }
      &:hover {
        border-bottom: 0;
        a {
          color: $light-gray;
        }
      }

      &.active {
        a {
          color: $light-gray;

          &:hover {
            color: $light-gray;
          }
        }
      }

      a {
        font-size: 14px;
      }
    }

    > .active {
      border-bottom: 0;
      &:hover {
        border-bottom: 0;
      }
    }
  }
}

.navbar-nav {
  margin: 20px -20px;
}

.navbar-toggle {
  margin-top: 56px;

  .icon-bar {
    background-color: #fff !important;
  }
}